<div id="story">
<h1>This is our story</h1>

<p> One of our founders, Andy, was in a long term relationship and engaged... and then he was not. We've all probably been in similar situations. After a brief period of mourning, he jumped aboard the rebound train. He'd been out of the 'game' for 4 years and realised he hadn't asked someone out in a very long time. He'd obviously watched the rise of the internet dating scene, but never thought he might one day be creating a profile. A quick browse of <a href="http://www.pof.com">POF.com</a> quickly reminded him that he was still 25, had a mouth and might try his luck offline. He asked a couple of girls out, some of whom amazingly said yes (he wanted us to thank you publically).
</br>
This is where one of our other founders, Jonny, came into the picture. Andy had no idea what to do for a first date, or where to go in London. Luckily for Andy, Jonny had a near encyclepedic knowledge of London nightlife, having been on numerous dates, and was able to offer up suggestions for multiple first, second and even (one time) a third date. 
</br>
Then they got together and thought that it would be great if there was a date recommendation website that wasn't solely based on budget and location, one that included your interests and what you wanted to get from the date. So that is what we've built.
</p>

</div>