<div id="intro">
	<h3>Going on a date, but don't know what to do? Where to go?
	</br>
	We are here to help</h3>
</div>

<div id="howitworks">
	<h4>You tell us about yourself and your date (as much as you know) and we will provide you with 3 tailored date suggestions.</h4>
	<h4>Our suggestions are not just a signle venue, if appropriate we will suggest pre-dinner cocktails, a fantastic restaurant and just when s/he is wondering how they can spend more time with you, you have a great after dinner venue lined up to continue the night.</h4>
	<h4> Unlike other venue websites we don't just take into account the location of your date and your budget and then spew forth some restaurants and/or bars. We go further, we ask for more information about you and your interests. We use this extra information for our date advisers (these people know good dates) and the super computer to give tailored suggestions for great dates.</h4>

</div>

<div id="whofor">
	<h4>So we noticed that the internet was obsessed with connecting people for dating. We are not about that, we are for anyone who has a date and wants to given a good suggestion wihtout reading through 50 reviews of 'Good places to go on a date' venues. It doesn't matter how you got your date or what the date is:
		<li> First date</li>
		<li> Early date</li>
		<li> Anniversary</li>
		<li> Infamouse Wednesday night date night (eek) </li>
	We'd like to suggest where you could go to have a good time on that date.
	<h4>
</div>

<div id="beta">
	<h3> So whats this beta malarky?<h3>
	<h4> Well beta just means that we are testing and developing our service. This means that you will get a lot more hands on attention from our date advisors as we develop the super computer system.<h4>
	<h3> ... So what does this mean for YOU </h3>
	<h4> You'll still get a top quality service, but it means that we are asking, nay begging you to give us feed back. The more involved you become the better we can make the website so future daters get good suggestions. If you think we can do anything better or differently, please let us know. You can also tell us which aspects of our service you most appreciate so we know where to focus.
	</br>
	</br>
	Thanks!
	</h4>
</div>