<div id="intro">
	<p>Going on a date, but don't know what to do? Where to go?
		</br>
	We are here to help</p>
</div>

<div id="howitworks">
	<h1> How the fuck does it work?</h1>
</div>

<div id="whoweare">
	<h1> Some shit about us </h1>
</div>