<div class="row-fluid">
	<div id="intro">
		<h2>Going on a date, but don't know what to do? Where to go?
		</br></br>
		We are here to help</h2>
	</div>

	<div id="howitworks">
		<div class="span8 offset2">
			<h1>How it works</h1>
			<div class="row-fluid"> 
				<div id="step1" class="span4">
					<h3> 1. Fill out our <%= link_to "form", contact_path %></h3>
				</div>
				<div id="step2" class="span4">
					<h3> 2. We will send you an email </h3>
				</div>
				<div id="step3" class="span4">
					<h3> 3. Get ready for your date </h3>
				</div>
			</div>
			<div class="row-fluid"> 
				<div id="step1" class="span4">
					<%= image_tag 'clipboard.png' %>
					<p> This form will be reviewed by our date advisors</p>
				</div>
				<div id="step2" class="span4">
					<%= image_tag 'mail.png' %>
					<p>Our email will usually contain 2 - 3 date packages chosen specifally for you. Each package will include a pre-dinner, dinner and post-dinner venue</p>
				</div>
				<div id="step3" class="span4">
					<%= image_tag 'shower.jpg', class: "shower" %>
				</div>
			</div>	
		</div>
	</div>

	<div id="whofor">
		<div class="span8 offset2">
		<h4>So we noticed that the internet was obsessed with connecting people for dating. We are not about that, we are for anyone who has a date and wants to given a good suggestion wihtout reading through 50 reviews of 'Good places to go on a date' venues. It doesn't matter how you got your date or what the date is:
			<li> First date</li>
			<li> Early date</li>
			<li> Anniversary</li>
			<li> Infamouse Wednesday night date night (eek) </li>
		We'd like to suggest where you could go to have a good time on that date.
		<h4>
		</div>
	</div>

	<div id="beta">
		<div class="span8 offset2">
		<h3> So whats this beta malarky?<h3>
		<h4> Well beta just means that we are testing and developing our service. This means that you will get a lot more hands on attention from our date advisors as we develop the super computer system.<h4>
		<h3> ... So what does this mean for YOU </h3>
		<h4> You'll still get a top quality service, but it means that we are asking, no, begging you to give us feed back. The more involved you become the better we can make the website so future daters get good suggestions. If you think we can do anything better or differently, please let us know. You can also tell us which aspects of our service you most appreciate so we know where to focus.
		</br>
		</br>
		Thanks!
		</h4>
		</div>
	</div>
</div>