@import 'bootstrap';

body {
	height: 100%;
	padding-top: 50px;
	margin: 0;
	background-color: #3498db;
}

h1, h2, h3, h4 {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

/* header */

.navbar-inverse .navbar-inner {
	background-color: #E74C3C;
	background-image: none;
	border: none;
	height: 50px;
	small {
		float: left;
		padding-left: 3px;
	}
	li a {
		color: #F1C40F;
		padding-top: 15px;
		&:hover {
			color: #F39C12;
		}
	}
	.container {
		height: 50px;
	}
}

#logo {
  float: left;
  font-size: 30px;
  color: white;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* body */
.container {
	width: 100%;
}

/* intro */

#intro {
	text-align: center;
	background-size: 100%;
	background-image: url("intro2.jpg");
	background-position: center;
	height: 400px;
	h2 {
		padding-top: 10%;
		color: white;
	}
}

#howitworks {
	background-color: #f39c12;
	overflow: auto;
	h2 {
		color: white;
		padding-bottom: 10px;
	}
	h4 {
		margin-left: 40px;
		margin-right: 40px;
		color: white;
	}
}

#step1 {
	float: left;
	img {
		display: block;
		margin: auto;
	}
	h3 {
		text-align: center;
	}
}

#step2 {
	float: left;
	img {
		display: block;
		margin: auto;
	}
	h3 {
		text-align: center;
	}
}

#step3 {
	float: left;
	img {
		display: block;
		margin: auto;
	}
	.shower {
		max-height: 200px;
	}
	h3 {
		text-align: center;
	}
}

#whofor {
	overflow: auto;
	h4 {
		padding-top: 20px;
	}
}

#beta {
	background-color: #f39c12;
	overflow: auto;
	h3, h4 {
		color: white;
	}
}

#contact {

}


/* footer */

footer {
	padding-top: 5px;
	background-color: #c0392b;
	height: 65px;
	color: white;
}