<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Romantical", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><a href="#">How it Works</a></li>
					<li><a href="#">Who it's for</a></li>
					<li><a href="#">What is Beta?</a></li>
					<li><a href="#">Get a Date</a></li>
				<ul>
			</nav>
		</div>
	</div>
</header>